@import "tailwindcss";

html {
  color-scheme: light dark;
}

html.dark {
  color-scheme: dark;
}

#root {
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}
